<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="tradingTickerTape">


        <!-- Include TradingView Script -->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async></script>

        <!-- Include Custom JavaScript Docs: https://www.tradingview.com/widget-docs/widgets/tickers/ticker-tape/-->
        <script type="text/javascript" src="/js/trading-ticker-tape.js"></script>
        <!-- TradingView Widget END -->
    </div>
</body>
</html>