<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="content">
        <!-- Include the AI Response Fragment -->
        <div th:replace="ai-tip-response :: aiResponse"></div>

        <div class="p-4 sm:ml-64">
            <div class="p-4 ">
               <!-- KPI row -->
               <div class="grid grid-cols-3 gap-4 mb-4">             
                  <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                    <div class="text-center">
                        <div class="font-normal text-gray-700 dark:text-gray-400">Total Net Worth</div>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span th:text="${#numbers.formatCurrency(totalValue)}">$0.00</span>
                        </h5>
                    </div>
                  </div>
                  <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                    <div class="text-center">
                        <div class="font-normal text-gray-700 dark:text-gray-400">Stocks in portfolio</div>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                            <span th:text="${portfolioHoldingsCount}">0</span>
                        </h5>
                    </div>
                  </div>
                  <div class="flex items-center justify-center h-24 rounded-sm bg-gray-50 dark:bg-gray-800">
                    <div class="text-center">
                        <div class="font-normal text-gray-700 dark:text-gray-400">Last Transaction</div>
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                           <div th:if="${latestTransaction != null}">
                              <span th:text="${latestTransaction.transactionType}"></span>
                              <span th:text="${latestTransaction.assetSymbol}"></span>
                          </div>
                          <div th:if="${latestTransaction == null}">
                              <span>No recent transactions</span>
                          </div>
                        </h5>
                    </div>
                  </div>
               </div>

               <!-- Portfolio Table -->
               <div class="flex items-center justify-center mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
                  <div class="w-full h-full" th:replace="portfolio-table :: portfolioTable"></div>
               </div>

               <!-- Portfolio Performance Graph -->
               <div class="flex items-center justify-center h-96 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
                  <div class="w-full h-full" th:replace="portfolio-performance-graph :: portfolioPerformanceGraph"></div>
               </div>



             <!-- Add stock and search cards -->
               <div class="grid grid-cols-2 gap-4 mb-4">
                  <!-- Add Stock -->
                  <div class="flex items-center justify-center rounded-sm bg-gray-50 h-96 dark:bg-gray-800">
                     <div class="w-full max-w-lg" th:replace="buy-form :: buyForm"></div>
                  </div>


               </div>

               


               <div class="flex items-center justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-800">
                  <p class="text-2xl text-gray-400 dark:text-gray-500">
                     <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                     </svg>
                  </p>
               </div>
               <div class="grid grid-cols-2 gap-4">
                  <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                     <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                     </p>
                  </div>
                  <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                     <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                     </p>
                  </div>
                  <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                     <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                     </p>
                  </div>
                  <div class="flex items-center justify-center rounded-sm bg-gray-50 h-28 dark:bg-gray-800">
                     <p class="text-2xl text-gray-400 dark:text-gray-500">
                        <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                           <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
                        </svg>
                     </p>
                  </div>
               </div>
            </div>
         </div>




    </div>
</body>
</html>